<div class="container">
    <hr>
    <div *ngIf="counter > 0">
	    <p>Trenutno je selektovano: {{ counter }} filmova</p>
	    <hr>
    </div>

		<button class="btn btn-primary" (click)="selectedAll = true" (click)="selectAll()">Select all</button>

		<button class="btn btn-primary" (click)="selectedAll = false" (click)="selectedAny = false" (click)="deselectAll()">Deselect all</button>

		<br>
		<br>

    <app-movie-row (onClicked)="onClicked2($event)" *ngFor="let movie of movies" [movieRow]="movie" [selectedAll]="selectedAll" [selectedAny]="selectedAny">
    </app-movie-row>
    <!-- ovo su ovi iz vivify cini mi se malo zakomplikovali, ja mislim da je jednostavnije ovako (sto ne znaci da je i bolje):
    
    <app-movie-row [movies]="movies">
    </app-movie-row>

    dakle, jednostavno prosledjujes kompletan niz preko inputa pa nek movie-row komponenta odradi sama logiku, MADA samo ime movieRow naglasava da je to komponenta KOJA CE SE SAMA PONOVITI VISE PUTA, pa je stoga logicno ovo sto su ovi iz vivify uradili
     -->
</div>
